@charset 'utf-8';

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css);

$purple: #c9168d;
$pink: #fa7c91;
$dark: #1a5276;
$beige-lighter: rgb(245, 245, 245);

$family-sans-serif: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3",
  "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
$primary: $purple;
$link: $dark;
$danger: $pink;

$body-background-color: $beige-lighter;

@import "../../node_modules/bulma/bulma.sass";

$font-color: #fff;
